Host lab-bastion
    HostName 52.63.196.153
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes

Host lab-cpu
    HostName 10.0.10.114
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes
    ProxyJump lab-bastion
